<main class="about">
    <section>
        <article class="about-section">
            <div>
                <h1>Penelope Cruz</h1>
                <h2 class="text-muted h4">Actress</h2>
                <p>Penélope Cruz Sánchez <strong>(Alcobendas, 28 de abril de 1974)</strong>, más conocida como Penélope
                    Cruz, es una
                    actriz española.</p>

                <p>En 2006 fue la primera actriz española candidata a los Premios Óscar y a los Globos de Oro en la
                    categoría de
                    mejor actriz protagonista, por su papel en la película española Volver, dirigida por el cineasta
                    español
                    Pedro
                    Almodóvar; en esa ocasión no obtuvo el Óscar, pero en el año 2009 se convirtió en la primera actriz
                    española en
                    conseguir el Óscar como mejor actriz de reparto gracias a la película Vicky Cristina Barcelona
                    dirigida
                    por
                    Woody Allen.</p>
            </div>
            <div>
                <img src="/images/penelope.jpg">
            </div>
        </article>
    </section>
</main>